@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
   background-color: #00000058;
}

.Navigation{
   width: 100%;
   background-color: #000;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 7px 14px;
   font-family: "Roboto", sans-serif;
   position: relative;
}

.logo{
   display: flex;
   align-items: center;
}

.Images{
   width: 50px;
   height: 50px;
}

.Images img{
   width: 100%;
}

.logo p{
   color: #fff;
   font-weight: 700;
}

.links{
 display: flex;
 flex-direction: row;
 align-items: center;  
}

.links > a{
   background-color: #ffd700;
   padding:7px 10px;
   border-radius: 5px;
   text-decoration: none;
   color: #000;
}

.Nav{
   display: flex;
   flex-direction: row;
   padding:0 50px 0 0;
}

.Nav a{
   text-decoration: none;
   color: #fff;
   padding: 0 5px;
}

svg{
   color: #fff;
   width: 35px;
   cursor: pointer;
   display: none;
}

.Content{
   width: 90%;
   margin: 2px auto 0 auto;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   font-family: "Roboto", sans-serif;
   padding: 5px 10px;
}

.Content_Meta_info > div{
      display: flex;
      align-items: center;
      margin: 0 0 30px 0;
}

.Content_Meta_info > div h3{
   padding: 0 0 0 15px;
   font-size: .8rem;
}

.Content_Meta_info h1{
   font-size: 3.2rem;
}

.Content_Meta_info p{
   font-size: 1rem;
   margin: 30px 0;
}


.button{
   width: 100%;
   padding: 5px 0;
   margin: 20px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.button a{
   width: 130px;
   background-color: #ffd700;
   text-align: center;
   padding: 7px 14px;
   font-size: 1rem;
   font-weight: 500;
   border-radius: 5px;
   text-decoration: none;
   color: #000;
   cursor: pointer;
   transition: background-color .3s ease-in-out;
   border: none;
}

.button a:hover{
   border: 3px solid #ffd700;
   background-color: #fff;
   color: #000;
   padding: 5px 14px;
}

.button a:nth-child(2){
   border: 3px solid #ffd700;
   background-color: #fff;
   color: #000;
   padding: 5px 14px;
}

.button a:nth-child(2):hover{
   border: none;
   background-color: #ffd700;
   color: #000;
   padding: 7px 14px;
}

#spinner {
   height: 40px;
   width: 40px;
   border: 7px solid;
   border-radius: 50px;
   border-color: goldenrod black goldenrod black;
   animation: rotate 1.5s linear infinite;
   z-index: 0;
}

@keyframes rotate {
   to { transform: rotate(365deg);}
}

@media screen and (max-width:850px){
   .links{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 63px;
      left: -100%;
      background-color: #000;
      width: 100%;
      padding: 10px 0;
      transition: left .5s  ease-in-out;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      z-index: 2;
     }

     .links.activated{
      left:0;
     }

     .Nav{
      flex-direction: column;
      padding:0 5px;
      width: 100%;
      text-align: center;
   }

   .Nav a{
      padding: 10px 0;
   }
     
   svg{
      display: block;
   }

   .Content{
    background-image: url('/Images_code/Side_Image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
   }

   .Content_Meta_info > div h3{
      color: #fff;
   }

   .Content_Meta_info h1{
     text-shadow: 1px 1px #fff;
     font-size: 2rem;
     color: #fff;
   }
   
   .Content_Meta_info p{
      font-weight: 400;
      color: #fff;
   }
   
   .Content_Meta_info{
      width: 100%;
   }

   .Content_Image{
      display: none;
   }
}

@media screen and (max-width:450px){
   .Content{
      justify-content:center;
     height: 80dvh;
     }
}